/*RESET*/
*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;

    font-size: 1em;
    font-weight: 400;

    line-height: 1.2;
    letter-spacing: 0em;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{background: #fbfbfb;}
p{margin-bottom: 15px;}
p:last-child{margin-bottom: 0;}
ul{list-style: none;}
li{display: inline-block;}
img{border: none; max-width: 100%; vertical-align: middle;}
a{text-decoration: none;}
a:hover{color: #09f; text-decoration: none;}
a img{border: 0;}

/* Align Text */
.al-center{text-align: center;}

/* FONTS */
.font-small{font-size: 0.875em;}
.font-medium{font-size: 1.3em;}
.font-big{font-size: 1.8em;}

/* BOX */
.boxshadow{-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3); -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);}
